.leaflet-message-container {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1000;
    cursor: auto;
}

.background-rotate-to-portrait {
    height: 100%;
    background-color: rgba(0, 255, 128, 0.6);
}

.background-no-data {
    height: 100%;
    background-color: rgba(255, 0, 0, 0.6);
}
