.buttonsContainer .buttonsContainer__button {
  background-color: transparent;
  height: 46.5px;
  width: 46.5px;
  border: none;
  text-align: -webkit-center;
  cursor: pointer;
}
.buttonsContainer .buttonsContainer__button svg {
  display: block;
  height: 60%;
}