.timeBar {
  width: 0;
  height: 4rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: absolute;
}
.timeBar .timeBar__label {
  color: white;
  height: 1rem;
  font-size: 12px;
  margin-bottom: 0.6rem;
  white-space: nowrap;
}
.timeBar .timeBar__verticalLine {
  height: 30%;
  margin-top: 0.8rem;
  border-left: solid #C2C9CB thin;
  z-index: 2;
}
.timeBar .timeBar__verticalLineDisabled {
  height: 30%;
  margin-top: 0.8rem;
  border-left: solid #53676D thin;
  z-index: 2;
}
.timeBar .timeBar__largeVerticalLine {
  z-index: 2;
  height: 50%;
  border-left: solid white thin;
}
.timeBar .timeBar__largeVerticalLineDisabled {
  z-index: 2;
  height: 50%;
  border-left: solid #53676D thin;
}