/* ############################################################################## */
/* Fonts */
@font-face {
    font-family: FSEmeric;
    src: url('../fonts/FSEmericWeb-Regular.eot');
    src: url('../fonts/FSEmericWeb-Regular.woff') format('woff');
}

/* ############################################################################## */
/* Page */
body, html {
    background-color: #ffffff;
    color: #333333;
    font-size: 100%;
    font-family: "FSEmeric", Arial, sans-serif;
}

a:link {
    color: #00819d;
}

a:visited {
    color: #74729F;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #900;
}

/* ############################################################################## */
/* Description */
.description {
    padding-top: 15px;
}

/* ############################################################################## */
/* Map */
#mapDiv {
    height: 600px;
}

#dataDiv {
    height: 600px;
    overflow: scroll;
}

/* ############################################################################## */
/* Info Control */
.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/* ############################################################################## */
/* Days Control */
.days {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.days h4 {
    margin: 0 0 5px;
    color: #777;
}


