@font-face {
    font-family: FSEmeric-Regular;
    src: url('fonts/FSEmericWeb-Regular.eot');
    src: url('fonts/FSEmericWeb-Regular.woff') format('woff');
}

@font-face {
    font-family: FSEmeric-SemiBold;
    src: url('fonts/FSEmericWeb-SemiBold.eot');
    src: url('fonts/FSEmericWeb-SemiBold.woff') format('woff');
}

html,
body
.container {
    background-color: #2a2a2a;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: "FSEmeric-Regular", Arial, sans-serif;
}

.banner {
    vertical-align: baseline;
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
}

.banner img {
    height: 22px;
}

.banner .text {
    display: inline-block;
    color: #fff;
    margin: 0;
    width: 155px;
    text-align: right;
    font-size: 1.2em;
}

.separator {
    background-color: #ccff33;
    height: 2px;
}

.preamble {
    padding: 5px;
    display: inline-block;
    color: #fff;
    font-size: 0.9em;
}

.preamble a {
    color: #ccff33;
}

.preamble a:hover {
    color: #fff;
}

.toggleButton {
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: #ccff33;
    border: none;
    border-radius: 3px;
    color: #333;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    font-family: "FSEmeric-SemiBold", Arial, sans-serif;
}

.error {
    padding: 10px;
    display: inline-block;
    color: #fff;
    font-size: 3em;
}

#map {
    margin-top: 10px;
    margin-left: 2.5%;
    height: 700px;
    width: 95%;
    font-family: "FSEmeric-SemiBold", Arial, sans-serif;
}

.leaflet-container {
    height: 100%;
    background-color: #ccc;
}


/* Popup */

.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
    background-color: #ccff33;
}

.leaflet-popup-content {
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    margin: 7px;
}


/* DivIcon*/

.leaflet-div-icon {
    border: none;
    background: transparent;
}

.leaflet-div-icon ul {
    list-style-type: none;
    border-radius: 5px;
    margin: 0;
    padding: 0px;
    display: inline-block;
    background: #fff;
    width: 80px;
}

.leaflet-div-icon ul img {
    width: 20px;
    height: 20px;
    right: -12px;
    top: -12px;
    position: absolute;
    padding: 0;
}

.leaflet-div-icon ul li {
    padding: 2px 5px;
    text-align: center;
}

.leaflet-div-icon ul li.cluster0 {
    background: #535354;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    border-radius: 3px 3px 0px 0px;
}

.leaflet-div-icon ul li.cluster1 {
    border-top: 2px solid #fff;
    background: #686868;
    color: #fff;
    font-size: 1.1em;
}

.leaflet-div-icon ul li.cluster2 {
    border-top: 2px solid #fff;
    background: #7D7D7D;
    color: #fff;
    font-size: 1em;
    border-bottom: none;
    border-radius: 0px 0px 3px 3px;
}

.leaflet-div-icon ul li.marker0 {
    background: #33316c;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    border-radius: 3px 3px 0px 0px;
}

.leaflet-div-icon ul li.marker1 {
    border-top: 2px solid #fff;
    background: #5a57ac;
    color: #fff;
    font-size: 1.1em;
}

.leaflet-div-icon ul li.marker2 {
    border-top: 2px solid #fff;
    background: #7774bc;
    color: #fff;
    font-size: 1em;
    border-bottom: none;
    border-radius: 0px 0px 3px 3px;
}
